$namespace: 'ds';
//$element-separator: '__';
$element-separator: '-';
//$modifier-separator: '--';
$modifier-separator: '-';
$state-prefix: 'is-';


/* Break-point
--------------------------*/
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;


$--breakpoints: (
  'xs' : (max-width: $--sm - 1),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl)
)
