
@mixin root() {
    :root{
        // Component Colors
        --ds-primary-color: #0095d9;
        --ds-success-color: #67C23A;
        --ds-danger-color: #fc3939;
        --ds-warning-color: #ff9523;
        --ds-info-color: #969799;
        --ds-text-color: #323233;
        --ds-active-color: #f2f3f5;
        --ds-background-color: #f2f3f4;
        --ds-background-color-light: #fff;
        --ds-text-link-color: #576b95;

        // Border
        --ds-border-color: #dcdee0;


        // ds-view
        --ds-view-nav-bar-background-color: #fff;
        --ds-view-nav-bar-text-color: #333;

        @content;
    }
}
