
@import "../assets/scss/define.scss";

@include b(bounce-loading){
  @extend %df;
  @extend %aic;
  @extend %jcs;
  width: 60px;
  height: 18px;
  span{
    @extend %br50;
    width: j(6);
    height: j(6);
    top: j(6);
    background-color: $color-primary;
    animation-duration: 0.8s;
    transform-origin: center;
    animation-iteration-count: infinite;
    animation-name: bounce-loading;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  span:nth-child(1) {
    animation-delay: 0s;
  }
  span:nth-child(2) {
    animation-delay: -.1s;
  }
  span:nth-child(3) {
    animation-delay: -.2s;
  }
  span:nth-child(4) {
    animation-delay: -.3s;
  }
}

@-webkit-keyframes bounce-loading {
  0%, 100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}
@keyframes bounce-loading {
  0%, 100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}
