
@import "../../assets/scss/define.scss";

@include b(tooltip){
  @extend %pa;
  width: max-content;
  z-index: 1020;

  @include m(hidden) {
    @extend %dn;
  }

  @include m(content){
    @extend %pr;
    @extend %bsb;
    @extend %cfff;
    @extend %tdn;
    font-size: 12px;
    padding: 6px 8px;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  }

  @include m(arrow) {
    @extend %pa;
    @extend %oh;
    @extend %pen;
    width: 14px;
    height: 14px;
    @include m(content) {
      @extend %pa;
      width: 5px;
      height: 5px;
      background-color: rgba(0, 0, 0, .75);
      box-shadow: 3px 3px 7px #00000012;
      transform: translateY(-7px) rotate(45deg);
      margin: auto;
      inset: 0;
    }
  }

  @include m(placement) {

    @include m(topLeft){
      @include e(arrow) {
        top: 100%;
        left: 5px;

        @include m(content) {
          box-shadow: 3px 3px 7px #00000012;
          transform: translateY(-7px) rotate(45deg);
        }
      }
    }

    @include m(top){
      @include e(arrow) {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        @include m(content) {
          box-shadow: 3px 3px 7px #00000012;
          transform: translateY(-7px) rotate(45deg);
        }
      }
    }

    @include m(topRight){
      @include e(arrow) {
        top: 100%;
        right: 5px;

        @include m(content) {
          box-shadow: 3px 3px 7px #00000012;
          transform: translateY(-7px) rotate(45deg);
        }
      }
    }

    @include m(rightTop) {
      @include e(arrow) {
        top: 5px;
        right: 100%;

        @include m(content) {
          box-shadow: -3px 3px 7px #00000012;
          transform: translate(7px) rotate(45deg);
        }
      }
    }

    @include m(right) {
      @include e(arrow) {
        top: 50%;
        right: 100%;
        transform: translateY(-50%);

        @include m(content) {
          box-shadow: -3px 3px 7px #00000012;
          transform: translate(7px) rotate(45deg);
        }
      }
    }

    @include m(rightBottom) {
      @include e(arrow) {
        bottom: 5px;
        right: 100%;

        @include m(content) {
          box-shadow: -3px 3px 7px #00000012;
          transform: translate(7px) rotate(45deg);
        }
      }
    }

    @include m(bottomLeft){
      @include e(arrow) {
        bottom: 100%;
        left: 5px;

        @include m(content) {
          box-shadow: -3px -3px 7px #00000012;
          transform: translateY(7px) rotate(45deg);
        }
      }
    }

    @include m(bottom){
      @include e(arrow) {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);

        @include m(content) {
          box-shadow: -3px -3px 7px #00000012;
          transform: translateY(7px) rotate(45deg);
        }
      }
    }

    @include m(bottomRight){
      @include e(arrow) {
        bottom: 100%;
        right: 5px;

        @include m(content) {
          box-shadow: -3px -3px 7px #00000012;
          transform: translateY(7px) rotate(45deg);
        }
      }
    }

    @include m(leftTop) {
      @include e(arrow) {
        top: 5px;
        left: 100%;

        @include m(content) {
          box-shadow: 3px -3px 7px #00000012;
          transform: translate(-7px) rotate(45deg);
        }
      }
    }

    @include m(left) {
      @include e(arrow) {
        top: 50%;
        left: 100%;
        transform: translateY(-50%);

        @include m(content) {
          box-shadow: 3px -3px 7px #00000012;
          transform: translate(-7px) rotate(45deg);
        }
      }
    }

    @include m(leftBottom) {
      @include e(arrow) {
        bottom: 5px;
        left: 100%;

        @include m(content) {
          box-shadow: 3px -3px 7px #00000012;
          transform: translate(-7px) rotate(45deg);
        }
      }
    }

  }

}

