
@import "../assets/scss/define.scss";

@mixin input-wrapper () {
  @extend %bsb;
  @extend %w100;
  padding: 11px 15px;
  border-radius: 8px;
  background-image: none;
  border: 1px solid $border-color;
  font-size: inherit;
  line-height: 1.6;
  transition: border-color .3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .3s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.is-focused,
  &:focus,
  &:focus-within{
    box-shadow:  0 0 0 j(3) rgba(64, 158, 255, .2);
    border-color: $color-primary;
  }
}

@include b(input){
  @extend %pr;
  @extend %dib;
  @extend %on;
  @include input-wrapper();
  color: $color-text;

  @include m(prefix) {
    margin-right: 8px;
  }

  @include m(suffix) {
    margin-left: 8px;
  }

  @include m(clear) {
    @extend %cp;
    @extend %ao8;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @include tst(color, .3s);
    margin-left: 8px;
    &:hover{
      color: $color-text-link;
    }
  }
}

@include b(input-wrapper) {
  @include input-wrapper();
  display: inline-flex;
  color: $color-text-placeholder;

  @include b(input) {
    @extend %on;
    border-radius: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    flex: 1;
  }

}
