
@import "../assets/scss/define.scss";

@include b(checkbox){
  @extend %dif;
  @extend %aic;
  @extend %cp;
  @extend %usn;

  &:hover{
    @include e(value) {
      border-color: $color-primary;
    }
  }

  @include when(checked) {

    @include e(value){
      border-color: $color-primary;
      background-color: $color-primary;
      &:after{
        transform: scale(1);
      }
    }

    @include e(text) {
      color: $color-primary;
    }

  }

  @include when(disabled) {
    cursor: not-allowed;

    &:hover {
      @include e(value) {
        border-color: $border-color;
      }
    }

    @include e(value) {
      border-color: $border-color;
      background-color: $background-color-base;
      &:after{
        background-color: $color-text-placeholder;
      }
    }

    @include e(text) {
      color: $color-text-placeholder;
    }

  }

  @include m(value) {
    @extend %pr;
    @extend %bsb;
    @extend %dif;
    @extend %aic;
    @extend %jcc;
    @include tst(background-color, .3s);
    @include tst(all, .3s);
    border-radius: 2px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid $border-color-base;
    input{
      @extend %pa;
      @extend %t0;
      @extend %l0;
      @extend %w100;
      @extend %h100;
      opacity: 0;
    }
    &:after{
      @include tst(all, .3s);
      border-radius: 1px;
      transform: scale(0);
      content: '';
      width: 4px;
      height: 4px;
      background-color: #fff;
    }
  }

  @include m(text){
    padding-left: 6px;
    font-size: 14px;
    color: $color-text-regular;
  }

}

