
@import "../assets/scss/define.scss";

@include n(button){
  @extend %dib;
  @extend %lh1;
  @extend %cp;
  @extend %bfff;
  @extend %tac;
  @extend %bsb;
  @extend %m0;
  @extend %usn;
  color: $color-text;
  border: 1px solid #dcdfe6;
  transition: .1s;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 6px;

  @include n(icon){
    &:first-child{
      margin-right: 5px;
    }
    &:last-child{
      margin-right: 0;
    }
  }

}

