
@import "./mixins";

@include b(button){
  @extend %dib;
  @extend %lh1;
  @extend %cp;
  @extend %bfff;
  @extend %tac;
  @extend %bsb;
  @extend %m0;
  @extend %usn;
  text-decoration: none;
  color: $color-text;
  border: 1px solid #dcdfe6;
  transition: .3s;
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 6px;
  &:hover,
  &:focus {
    color: $color-primary;
    border-color: $color-primary;
    background-color: mix($color-white, $color-primary, 90%);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $color-text-placeholder;
      cursor: not-allowed;
      background-image: none;
      background-color: $color-white;
      border-color: $color-lighter;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        background-color: $color-white;
        border-color: $color-lighter;
        color: $color-text-placeholder;
      }
    }
  }

  @include b(icon){
    &:first-child{
      margin-right: 5px;
    }
  }

  @include when('icon-only') {
    @include b(icon){
      &:first-child{
        margin-right: 0;
      }
    }
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $color-white;
      border-color: $color-primary;
      color: $color-primary;
    }
    &:active {
      background: $color-white;
      border-color: mix($color-black, $color-primary, $active-shade-percent);
      color: mix($color-black, $color-primary, $active-shade-percent);
      outline: none;
    }
  }

  @include when(loading) {
    @extend %pr;
    @extend %pen;
    &:before {
      @extend %pen;
      @extend %pa;
      content: '';
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255, .35);
    }
  }

  @include m(primary) {
    @include button-variant($color-white, $color-primary, $color-primary);
  }

  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
  }

  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
  }

  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
  }

  @include m(text) {
    color: $color-text;
    background: 0 0;
    box-shadow: none;
    border-color: transparent;
    &:hover,
    &:focus {
      border-color: $color-background;
      background-color: $color-background;
    }

    @include when(disabled) {
      border-color: transparent;
      &:hover,
      &:focus{
        border-color: transparent;
      }
    }
  }

}
