
@import "../../assets/scss/define.scss";

@mixin input-wrapper () {
  @extend %bsb;
  @extend %w100;
  padding: 11px 15px;
  border-radius: 8px;
  background-image: none;
  border: 1px solid $border-color;
  font-size: inherit;
  line-height: 1.6;
  transition: border-color .3s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow .3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .3s cubic-bezier(0.645, 0.045, 0.355, 1);

  &.is-focused,
  &:focus,
  &:focus-within{
    box-shadow:  0 0 0 j(3) rgba(64, 158, 255, .2);
    border-color: $color-primary;
  }

  &:disabled,
  &.is-disabled{
    background-color: $color-background;
    color: $color-text-placeholder;
    cursor: not-allowed;
  }
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{
  color: $color-text-placeholder;
}
textarea::-moz-placeholder,
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color: $color-text-placeholder;
}
textarea:-moz-placeholder,
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color: $color-text-placeholder;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $color-text-placeholder;
}

@include b(input){
  @extend %pr;
  @extend %dib;
  @extend %on;
  @include input-wrapper();
  color: $color-text;

  @include m(prefix) {
    margin-right: 12px;
  }

  @include m(clear) {
    @extend %cp;
    @extend %ao8;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @include tst(color, .3s);
    margin-left: 12px;
    &:hover{
      color: $color-text-link;
    }
  }

  @include m(count) {
    margin-left: 12px;
    font-size: 12px;
  }

  @include m(suffix) {
    margin-left: 12px;
  }

}

@include b(input-wrapper) {
  @extend %aic;
  @extend %dif;
  @include input-wrapper();
  color: $color-text-placeholder;

  @include b(input) {
    @extend %on;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    flex: 1;
  }

}

@include b(input-password){
  @include m(eye-on) {
    color: $color-primary;
  }
}

@include b(textarea) {
  @extend %pr;
  font-size: 15px;
  @include b(input) {
    resize: none;
    //height: 48px;
  }

  &:after{
    @extend %pa;
    @extend %wsn;
    @extend %pen;
    right: 15px;
    bottom: 15px;
    color: $color-text-placeholder;
    font-size: 12px;
    content: attr(data-count);
  }

}
