
@import "../../assets/scss/define.scss";

@include b(bounce-loading){
  @extend %df;
  @extend %aic;
  @extend %jcs;
  @extend %dib;
  @extend %tac;
  font-size: 0;
  @include m('dot'){
    @extend %dib;
    @extend %br50;
    @extend %vam;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    background-color: $color-primary;
    animation-duration: 0.8s;
    transform-origin: center;
    animation-iteration-count: infinite;
    animation-name: bounce-loading;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
}

@-webkit-keyframes bounce-loading {
  0%, 100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}
@keyframes bounce-loading {
  0%, 100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
}
