
@import "./iconfont";

@import '../components/assets/scss/css-variables.scss';

@include root {

}

*{
  margin: 0;
  padding: 0;
}

dl{
  dt{
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
  }
  dd{
    margin-top: 10px;
  }
}

.sb-show-main{
  .ds-button{
    margin-left: 10px;
    &:first-child{
      margin-left: 0;
    }
  }
}

.tooltip{
  .tooltip-demo{
    padding-top: 50px;
    padding-left: 100px;
    .ds-button{
      margin-left: 10px !important;
      + .ds-button{
        margin-top: 10px;
      }
    }
  }
}
