
@import "../../assets/scss/define.scss";

@include n(dropdown) {
  @extend %pr;
  &-content{
    @extend %pa;
    @extend %bsb;
    @extend %dn;
    animation-name: cFadeInDown;
    animation-duration: .3s;
    padding-top: 12px;
    top: 100%;
  }
  &-menu{
    @extend %pr;
    min-width: j(160);
    background-color: #202931;
    border-radius: j(6);
    padding: j(10) 0;
    box-shadow: j(1) j(10) j(20) rgba(32, 41, 49, .5);
    &:before{
      @extend %pa;
      content: '';
      top: j(-18);
      width: 0;
      height: 0;
      border-width: j(9);
      border-style: solid;
      border-color: transparent transparent #202931 transparent;
    }
  }
  &-menu-item{
    @extend %db;
    @extend %bsb;
    @extend %cp;
    @extend %w100;
    @include tst(all, .3s);
    padding: j(8) j(16);
    font-weight: 400;
    color: #aebcca;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    &:hover{
      @extend %cfff;
      background-color: #000;
    }
  }
  &-divider{
    @extend %oh;
    height: 0;
    margin: j(10) 0;
    border-top: 1px solid #2a3640;
  }

  @include s(dropdown-hover){
    @include n(dropdown-content){
      @extend %db;
    }
  }
  @include s(dropdown-active) {
    @include n(dropdown-content){
      @extend %db;
    }
  }

  &-left{
    @include n(dropdown){
      &-content{
        @extend %l0
      }
      &-menu{
        &:before{
          left: 18px;
        }
      }
    }
  }
  &-right{
    @include n(dropdown){
      &-content{
        @extend %r0
      }
      &-menu{
        &:before{
          left: 18px;
        }
      }
    }
  }
}

@-webkit-keyframes cFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes cFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
