@import "../assets/scss/define.scss";

@mixin placement ($top, $right, $bottom, $left) {
  @include e(content) {
    &:before{
      top: $top;
      right: $right;
      bottom: $bottom;
      left: $left;
    }
  }
}
