
@import "../assets/scss/define.scss";

@include b(icon){
  @extend %dib;
  @extend %lh1;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include m(loading){
    animation: rotating 2s linear infinite;
  }

}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
